body {
   background-color: blanchedalmond;
}

.navBar{
    background-color: #FF80FF;
    height: 50px;
    font-size: 20px;
    /* display: flex;
    justify-content: space-evenly; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    align-items: center;
    /* text-decoration: none; */
    align-content: center;
    font-style: normal;
}

.container{
    /* border: 2px solid black; */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.cont{
        margin: 30px;
}

.search{
    /* border: 2px solid black; */
    height: 20px;
}
.search-b{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.search-btn{
    height: 25px;
    width: 50px;
    /* border: 2px solid black; */
    background-color: rgb(19, 18, 18);
    margin-left: 20px;
    color: whitesmoke;
}

.link{
    color: black;
}
.main{
    border: 2px solid rgb(49, 238, 2);
   /* padding-top: 30px; */
   margin-top: 20px;
    height: 70vh;
    display:flex;
    width: 100%;

}

.first{
    background-color:  #faeffa;;
    height: 100%;
    width: 80%;
    border: 2px solid black;
}

.list{
    margin-right: 30px;
}

.second{
    height: 100%;
    width: 20%;
    border: 2px solid black;
    margin-left: 20px;
    background-color:  #FF80FF;;
}


.parag{
    margin-left: 20px;
    margin-right: 20px;
}

.footer{
    border: 2px solid black;
    background-color:  #fffaff;
    margin-top: 20px;
    width: 100%;
    height: 50px;
}