body {
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.row {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1692e4;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 372x;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox {
    display: inline-block;
    margin-right: 5px;
}

button {
    background-color: #1692e4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #46a049;
}
